.bg-gradient {
	background-color: #fefae0;
}
.card {
	background-color: #606c38;
}
.form-control {
	background-color: #606c38;
}
.btn {
	background-color: #283618;
}

.text-center a {
	color: #fff;
}
.h4 {
	color: #fff;
}

.form-group .text {
	color: #bc6c25;
}
.colorcustombg {
	background-color: #fefae0;
}
